
<div class="budget-content">
    <div class="budget-top">
        <div class="trapezoid">            
              <module-year-change></module-year-change>
        </div>
    </div> 
    <div class="budget-main-invest investment">
        <div class="last_updated">Мэдээлэл шинэчлэгдсэн: </div>
        <div class="title">
            <h3>2021 оны Төсвийн зарлагын тооцоололд<br> баримталсан зарчмууд</h3>
        </div>
        <div class="tugrug">
            <img src="../../../assets/image/tugrugdebit.PNG" alt="">
        </div>
        <div class="db-item" style="background-color: #6733b9; width: 400px; left: 240px;">
            <p>Цалин, тэтгэвэр, тэтгэмжийн зардлыг 2020 оны түвшинд хадгална.</p>
        </div>
        <div class="db-item" style="background-color: #fcad44; width: 400px; left: 70px;bottom: 255px;">
            <p>Төсөвт байгууллагуудын урсгал зардлыг дахин хуваарилж, нэмж зардал төсөвлөхгүйгээр шинэ хөрөнгө оруулалттай холбоотой орон тоо, байр ашиглалтын зардал болон бусад урсгал зардлыг шийдвэрлэнэ.</p>
        </div>
        <div class="db-item" style="background-color: #28c66f; width: 500px; left: 100px;bottom: 60px;">
            <p>Төрийн албан хаагчийн орон тоог нэмэгдүүлэхгүй. Салбаруудын орон тоог цахим системээр баталгаажуулж давхардсан болон илүүдэл орон тоог дахин хуваарилах болон бууруулах замаар цалин хөлсний зардлын өсөлтийг хязгаарлана.</p>
        </div>
        <div class="db-item" style="background-color: #ea5455; width: 450px; right: 120px;">
            <p>Коронавируст халдвар (КОВИД-19)-ын цар тахлын эрсдэлтэй нүүр тулж ажиллаж байгаа төрийн байгууллагаас бусад төсөвт байгууллагын тэвчиж болох урсгал зардлыг бууруулна.</p>
        </div>
        <div class="db-item" style="background-color: #008ffb;width: 400px;right: 200px;bottom: 100px;">
            <p>Өргөдөл гомдол шийдвэрлэх, тусгай зөвшөөрөл олгох процесс болон иргэдэд үзүүлэх төрийн үйлчилгээг цахимжуулж, эдгээртэй холбоотой орон тоо, урсгал зардал, цаг хугацааг хэмнэнэ.</p>
        </div>
    </div>
</div>
<module-description [description]="description"></module-description>

<div class="main-description">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9">
                <p>Үзүүлж буй үйлчилгээний тухай дэлгэрэнгүй
                    мэдээллийг эрүүл мэндийн даатгалын сангийн
                    цахим хуудаснаас аваарай.</p>    
            </div>
            <div class="col-md-3">
                <div class="row">
                    <a href="https://mof.gov.mn/" target="_blank" rel="noopener noreferrer">
                        <img src="../../../assets/image/desc.PNG" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

