.dictionary{
    background: #0081ff;
    padding: 10px;
    position: fixed;
    right: 0px;
    top: 40%;
    width: 55px;
    height: 50px;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    text-align: center;
    .icon{
        width: 30px;
    }
}   
  ul {
    font-size: 18px;
    padding-top: 30px;
    a{
        cursor: pointer;
    }
  }
  .dic-content{
    background-color: #fff;  
    position: fixed;
    right: 0px;
    top: 30%;
    width: 300px;
    height: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(153,153,153,1);
            -moz-box-shadow: 3px 3px 8px 0px rgba(153,153,153,1);
            box-shadow: 3px 3px 8px 0px rgba(153,153,153,1);
    .dic-head{
        position: relative;
        background: #0081ff;
        width: 100%;
        padding: 20px;
        color: #fff;
        border-top-left-radius: 5px;
        cursor: pointer;
        .dic-close{
            position: absolute;
            right: 15px;
            top: 15px;
            width: 15px;
            height: 15px;
        }
        h5{
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 20px;
        }
        input{
            background: none;
            
            width: 100%;
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 5px;
        }
    }
  }
  .description{
      padding: 20px;
      max-height: 250px;
      overflow-y: auto;
  }