<div class="budget-outlet" >
    <div  class="budget-body">
    <div class="budget-content">
       
        <div class="budget-main zarlaga">      
            <div class="title-hd center"><b>Засвартай байна. Тун удахгүй...</b></div> 
            <div class="no_data_search">                  
                <div class="image">
                    <div class="oval"></div>
                    <img src="../../assets/image/404.png" />                  
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
  
    <app-footer></app-footer>
    
    
    