.orlogo{
    .base_number{
        padding-top:0px !important;
        color: #505054;
            font-weight: bold;
            span{
                display: inline-block;
            }
            .help{
                display: inline-block;
                padding: 5px 12px;
                border-radius: 50%;
                color: #fff;
                margin-bottom: 10px;
            }
            h4{
                font-weight: bold;
                font-size: 50px;
                margin: 0px;
                line-height: 80%;
            }   
            .process{
                display: inline-block;
                border-radius: 30px;
                border: 1px solid #505054;
                padding: 10px;
                line-height: 110%;
                margin-top: 20px;
                text-transform: none;
                max-width: 200px;
                
            }
    }
}
.base_number{
    padding-top:30px;
    color: #505054;
        font-weight: bold;
        span{
            text-transform: uppercase;
            display: inline-block;
        }
        .help{
            display: inline-block;
            padding: 5px 12px;
            border-radius: 50%;
            color: #fff;
            margin-bottom: 10px;
        }
        h4{
            font-weight: bold;
            font-size: 36px;
            margin: 0px;
            line-height: 110%;
        }   
        legend{
            margin: 0px auto;
        }
        .process{
            display: inline-block;
            border-radius: 25px;
            border: 1px solid #505054;
            padding: 5px;
            line-height: 110%;
            margin-top: 15px;
            text-transform: none;
            max-width: 180px;            
            position: relative;
            min-height: 65px;            
        }
}
.arrow {
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
  }
  .arrow-hr{
      position: relative;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
@media screen and (max-width: 1680px) {
    .base_number{
        padding-top:10px;
        color: #505054;
            font-weight: bold;
            span{
                text-transform: uppercase;
                display: inline-block;
            }
            .help{
                display: inline-block;
                padding: 5px 12px;
                border-radius: 50%;
                color: #fff;
                margin-bottom: 10px;
            }
            h4{
                font-weight: bold;
                font-size: 36px;
                margin: 0px;
                line-height: 110%;
            }   
            legend{
                margin: 0px auto;
            }
            .process{
                display: inline-block;
                border-radius: 30px;
                border: 1px solid #505054;
                padding: 5px;
                line-height: 110%;
                margin-top: 5px !important;
                text-transform: none;
                max-width: 180px;            
                position: relative;
                min-height: 65px;            
            }
    }
    
}
@media screen and (max-width: 1440px) {
    .base_number{
        padding-top:10px;
        font-size: 12px;
        color: #505054;
            font-weight: bold;
            span{
                text-transform: uppercase;
                display: inline-block;
            }
            .help{
                display: inline-block;
                padding: 5px 12px;
                border-radius: 50%;
                color: #fff;
                margin-bottom: 10px;
            }
            h4{
                font-weight: bold;
                font-size: 30px;
                margin: 0px;
                line-height: 110%;
            }   
            legend{
                margin: 0px auto;
            }
            .process{
                display: inline-block;
                border-radius: 30px;
                border: 1px solid #505054;
                padding: 5px;
                line-height: 110%;
                margin-top: 5px !important;
                text-transform: none;
                max-width: 150px;            
                position: relative;
                min-height: 48px;            
            }
    }
}
@media screen and (max-width: 1366px) {
    .base_number{
        color: #505054;
            font-weight: bold;
            font-size: 12px;
            span{
                display: inline-block;
            }
            .help{
                display: inline-block;
                padding: 5px 12px;
                border-radius: 50%;
                color: #fff;
                margin-bottom: 10px;
            }
            h4{
                font-weight: bold;
                font-size: 30px;
                margin: 0px;
                line-height: 80%;
            }   
            .process{
                display: inline-block;
                border-radius: 30px;
                border: 1px solid #505054;
                padding: 10px;
                line-height: 110%;
                margin-top: 20px;
                text-transform: none;
                max-width: 150px;
                min-height:auto
            }
    }
}

@media screen and (max-width: 1280px) {
    .base_number{
        color: #505054;
            font-weight: bold;
            font-size: 11px;
            width: 180px;
            span{
                display: inline-block;
            }
            .help{
                display: inline-block;
                padding: 5px 12px;
                border-radius: 50%;
                color: #fff;
                margin-bottom: 10px;
            }
            h4{
                font-weight: bold;
                font-size: 30px;
                margin: 0px;
                line-height: 80%;
            }   
            .process{
                display: inline-block;
                border-radius: 30px;
                border: 1px solid #505054;
                padding: 10px;
                line-height: 110%;
                margin-top: 20px;
                text-transform: none;
                max-width: 150px;
                min-height:auto
            }
    }
}

@media screen and (max-width: 1024px) {
    .base_number{
        color: #505054;
            font-weight: bold;
            font-size: 11px;
            width: 180px;
            span{
                display: inline-block;
            }
            .help{
                display: inline-block;
                padding: 5px 12px;
                border-radius: 50%;
                color: #fff;
                margin-bottom: 10px;
            }
            h4{
                font-weight: bold;
                font-size: 30px;
                margin: 0px;
                line-height: 80%;
            }   
            .process{
                display: inline-block;
                border-radius: 30px;
                border: 1px solid #505054;
                padding: 5px;
                line-height: 110%;
                margin-top: 20px;
                text-transform: none;
                max-width: 120px;
                min-height:auto
            }
    }
}