
.budget-main-invest{
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    // box-shadow: 3px 3px 12px 0px #d2d2d2;
    min-height: 700px;
    // background-image: url("/../../../../assets/image/bg/concept.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 0;
    &.investment{
        position: relative;
        background-size: 100%;
        margin-bottom: 20px;
    }    
    .title{
        h3{
            padding-top: 20px;
            padding-bottom: 45px;
            font-size: 20px;
            font-weight: 700;
            color: #0081ff;
            text-transform: uppercase;
        }
        img{
            width: 100%;
        }
        
    }
    .total{
        text-align: center;
        width: 780px;
        top: 100px;
        height: 260px;
        left: 120px;
        border-radius: 15px;
        position: relative;
        color: #fff;
        background-color: #28c66f;
        transform: skewX(-20deg);
    }
    .img{
        img{
            width: 1160px; 
            margin-left: 150px; 
            display: block;
        }
    }
    .tugrug{
        img{
            position: absolute;
            bottom: 0;
            right: 200px;
        }
    }
    
}

@media screen and (max-width: 1680px) {
    .img{
        img{    
            width: 960px !important;
            margin-left: 100px !important;
            display: block;
        }
    }
}

@media screen and (max-width: 1600px) {
    .img{
        img{    
            width: 960px !important;
            margin-left: 100px !important;
            display: block;
        }
    }
}

@media screen and (max-width: 1440px) {
    .img{
        img{    
            width: 860px !important;
            margin-left: 90px !important;
            display: block;
        }
    }
}

@media screen and (max-width: 1366px) {
    .img{
        img{    
            width: 760px !important;
            margin-left: 80px !important;
            display: block;
        }
    }
}

@media screen and (max-width: 1280px) {
    .img{
        img{    
            width: 760px !important;
            margin-left: 70px !important;
            display: block;
        }
    }
}

@media screen and (max-width: 1024px) {
    .img{
        img{    
            width: 560px !important;
            margin-left: 50px !important;
            display: block;
        }
    }
}